# Week 1: Data Cleaning – Superstore Sales Dataset
**Name:** Rahul Rathod  
**Date:** 14‑Feb‑2026  
**Goal:** Clean the raw Superstore dataset (train.csv) using Python (pandas) – mirroring the steps done earlier in Excel.

### Cleaning Steps:
1. Load the dataset and inspect structure.  
2. Handle missing values (drop rows where `Postal Code` is missing).  
3. Remove duplicate rows based on `Order ID` + `Product ID`.  
4. Convert `Order Date` to datetime and extract `Order_Year` and `Order_Month`.  
5. Save the cleaned dataset to a new CSV. a new CSV.=

In [1]:
# Import the pandas library for data manipulation
import pandas as pd

# 1. Load Dataset

In [2]:
df = pd.read_csv(r"C:\Users\kruti\SEM VIII R\Intesnhip Intelliqon Innovations Pvt. Ltd\Week 1\Data Cleaning\Python\Dataset\Superstore_Cleaning_Python\train.csv")

In [3]:
print("✅ Dataset loaded successfully.")
print(f"Shape: {df.shape}")
print("\nFirst 5 rows:")
print(df.head())

✅ Dataset loaded successfully.
Shape: (9800, 18)

First 5 rows:
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
1       2  CA-2017-152156  08/11/2017  11/11/2017    Second Class    CG-12520
2       3  CA-2017-138688  12/06/2017  16/06/2017    Second Class    DV-13045
3       4  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335
4       5  US-2016-108966  11/10/2016  18/10/2016  Standard Class    SO-20335

     Customer Name    Segment        Country             City       State  \
0      Claire Gute   Consumer  United States        Henderson    Kentucky
1      Claire Gute   Consumer  United States        Henderson    Kentucky
2  Darrin Van Huff  Corporate  United States      Los Angeles  California
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale     Florida

   Postal Code Region       Product ID         Category Sub-Category  \
0      42420.0  South  FUR-BO-10001798        Furniture    Bookcases
1      42420.0  South  FUR-CH-10000454        Furniture       Chairs
2      90036.0   West  OFF-LA-10000240  Office Supplies       Labels
3      33311.0  South  FUR-TA-10000577        Furniture       Tables
4      33311.0  South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales
0                  Bush Somerset Collection Bookcase  261.9600
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2  Self-Adhesive Address Labels for Typewriters b...   14.6200
3      Bretford CR4500 Series Slim Rectangular Table  957.5775
4                     Eldon Fold 'N Roll Cart System   22.3680

# 2. Inspect the Data 
# We check column data types and count missing values – exactly like we did in Excel with `=COUNTBLANK` and filters.

In [4]:
print("\n--- Data Types & Missing Values ---")
df.info()

print("\nMissing values per column:")
print(df.isnull().sum())

--- Data Types & Missing Values ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

Missing values per column:
Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

# 3. Handling Missing Postal Code
# In Excel we deleted rows where `Postal Code` was blank (11 rows).  
# Here we do the same – only 0.1% of data, and `Postal Code` is critical for geographic analysis.

In [5]:
missing_postal = df['Postal Code'].isnull().sum()
print(f"\nRows with missing Postal Code: {missing_postal}")

if missing_postal > 0:
    df.dropna(subset=['Postal Code'], inplace=True)
    print(f"Dropped {missing_postal} rows. New shape: {df.shape}")
else:
    print("No missing Postal Code found.")

Rows with missing Postal Code: 11
Dropped 11 rows. New shape: (9789, 18)

# 4. Removing Duplicates
# In Excel we removed duplicates based on `Order ID` + `Product ID` (8 duplicates found).  
# We apply the same logic here.

In [6]:
duplicate_count = df.duplicated(subset=['Order ID', 'Product ID']).sum()
print(f"\nDuplicate rows (based on Order ID + Product ID): {duplicate_count}")

if duplicate_count > 0:
    df.drop_duplicates(subset=['Order ID', 'Product ID'], keep='first', inplace=True)
    print(f"Removed {duplicate_count} duplicates. New shape: {df.shape}")
else:
    print("No duplicates found.")

Duplicate rows (based on Order ID + Product ID): 8
Removed 8 duplicates. New shape: (9781, 18)

# 5. Create Time Features
# In Excel we used `=YEAR(Order Date)` and `=MONTH(Order Date)`.  
# Here we convert `Order Date` to a proper datetime and extract the year/month.

In [7]:
# Convert Order Date to datetime (format: dd-mm-yyyy)
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y', errors='coerce')

In [8]:
# Drop rows where date conversion failed (if any)
invalid_dates = df['Order Date'].isnull().sum()
if invalid_dates > 0:
    print(f"\nDropping {invalid_dates} rows with invalid Order Date.")
    df.dropna(subset=['Order Date'], inplace=True)

In [9]:
# Create new columns
df['Order_Year'] = df['Order Date'].dt.year
df['Order_Month'] = df['Order Date'].dt.month

In [10]:
# Show sample of the new columns
print("\nSample of new columns:")
print(df[['Order Date', 'Order_Year', 'Order_Month']].head())

Sample of new columns:
  Order Date  Order_Year  Order_Month
0 2017-11-08        2017           11
1 2017-11-08        2017           11
2 2017-06-12        2017            6
3 2016-10-11        2016           10
4 2016-10-11        2016           10

# Save Cleaned Dataset
# Finally, save the cleaned DataFrame to a new CSV file – ready for analysis and Week 2 tasks.

In [11]:
df.to_csv('cleaned_superstore.csv', index=False)
print("\n✅ Cleaned dataset saved as 'cleaned_superstore.csv'")
print(f"Final shape: {df.shape}")

✅ Cleaned dataset saved as 'cleaned_superstore.csv'
Final shape: (9781, 20)

In [12]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Order_Year,Order_Month
0,1,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2017,11
1,2,CA-2017-152156,2017-11-08,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,2017,11
2,3,CA-2017-138688,2017-06-12,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2017,6
3,4,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,2016,10
4,5,US-2016-108966,2016-10-11,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2016,10